.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]
*.pyo
*.pyd
.coverage
htmlcov
dist
build
*.egg-info

.env
.env.*
!.env.example

venv
.venv
env

postgres_data
redis_data
prometheus_data
grafana_data

*.log
*.sqlite
*.db
